<!DOCTYPE html>
<html>
    <head lang="en">
        {stylesheets}
        {scripts}
        {metatags}
        <meta charset="UTF-8">
        <title>{title}</title>
    </head>
    <body>
        <header>{header}</header>
        <nav>{nav}</nav>
        <div id="sidebar-right" class="sidebar right region">{sidebar-left}</div>
        <div id="main">{content}</div>
        <div id="sidebar-left" class="sidebar left region">{sidebar-right}</div>
        <footer>{footer}</footer>
    </body>
</html>