/**
 *  Test CSS Stylesheet for my cms
 *  copyright 2014 Justus Adam
 */
@import "../../scss_base/scss/positioning";
@import "../../scss_base/scss/transition";
@import "base";

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  padding-bottom: 3px;
}

#wrapper-main {
  background-color: #383633;
  min-height: 100%;
  height: 100%;
  overflow: scroll;
}

#wrapper-middle {
  background-color: whitesmoke;
  margin: 0;
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px;
  padding: 0;
}

h1 {
  color: rgb(66, 124, 247);
  font-size: 25px;
}

#content {
  padding: 20px;
}

a.button, button, input[type="submit"] {
  background: linear-gradient(#eee, #d2d2d2) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  padding: 2px 10px;
  text-decoration: none;
  color: #666;
  float: left;
  font-size: 12px;

  :visited {
    color: #666;
  }
  .continue {
    float: right;
  }
}

a.button:hover, button:hover, input[type="submit"]:hover {
  box-shadow: 0 0 3px #CCCCCC inset;
//  background: linear-gradient(#eee, #b6b6b6) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#main {
  @extend .column-9;
  float: left;
}

.wrapper.content {
  margin: 0 20px 10px;
  padding: 20px;
}

.common {
  overflow: hidden;
}

td {
  padding: 2px 5px;
}

header {
  min-height: 100px;
  width: 100%;
  background-color: #9ABB6F;
  box-shadow: 0 0 8px #999;
}

footer {
  background-color: #383633;
  color: #ddd;
  min-height: 50px;
  height: auto;
  position: relative;
  font-size: 11px;
  //  box-shadow: 0 0 8px #999;
}

#wrapper-footer {
}

#pagetitle, #pagetitle a {
  float: left;
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 5px #666;
  text-decoration: none;
}

#pagetitle {
  padding: 40px;
}

#header-wrapper {
  padding: 20px 10px;
}

#pagelogo {
  float: left;
}

.content {
  padding: 40px;
}

input[type='submit'] {
  float: right;
}

.alert {
  padding: 10px 15px;
  background-color: rgba(255, 82, 0, 0.3);
  box-shadow: 0 0 9px #bbb;
}

nav {
  border-color: #ccc;
  border-style: none solid;
  border-width: 1px;
}

ul.menu {
  list-style: none outside none;
  display: block;
  padding: 0;

  li a, ul.menu li span {
    margin-left: 7px;
  }
  li {
    padding: 0;
    margin: 0;
  }
  li a, ul.menu li span {
    text-decoration: none;
  }
}

.horizontal ul.menu {
  overflow: hidden;
  padding: 0;
  margin: 0;

  li a, ul.menu li span {
    padding: 14px;
  }

  a.layer-0, #start_menu span.layer-0 {
    font-size: 15px;
  }

  li.layer-0 {
    float: left;

    a, span {
      background-color: #9abb6f;
      color: white;
      text-shadow: 1px 1px 2px #666;
      display: block;
    }
  }

  @mixin menu-animation {
    @include transition-delay(0ms);
    @include transition-duration(300ms);
    @include transition-timing-function(ease);
    @include transition-property((padding-top, padding-bottom));
  }

  li a.layer-0, #start_menu li span.layer-0 {
    @include menu-animation;
  }

  li a.layer-0:hover, #start_menu li span.layer-0:hover {
    padding-top: 17px;
    padding-bottom: 11px;
    position: relative;
    @include menu-animation;
  }

  ul.layer-1 {
    display: none;
    position: absolute;
  }

  li.layer-0:hover ul.layer-1, li.layer-3:hover {
    display: block;
  }

  a.layer-1 {
    width: 160px;
  }

  @mixin menu-animation-2 {
    @include transition-delay(0ms);
    @include transition-duration(300ms);
    @include transition-timing-function(ease);
    @include transition-property((padding-left, padding-right));
  }

  li a.layer-1, li span.layer-1 {
    @include menu-animation-2;
  }

  li a.layer-1:hover, li span.layer-1:hover {
    @include menu-animation-2;
  }

  ul.layer-2 {
    display: none;
  }
}

.sidebar {
  @extend .column-3;
  float: left;
}

.region.sidebar .common {
  padding: 10px 15px;
  margin: 20px 15px;
  background: none repeat scroll 0 0 #ECD393;
}

.region .common h3 {
  color: rgb(59, 105, 202);
  margin: 9px 2px;
}

.find-me a, .find-me a:visited {
  color: #333;
  text-decoration: none;
}

.find-me ul {
  padding-left: 24px;
  list-style-type: square;
}

.sidebar .region-wrapper {
  padding: 10px 10px;
}

.edit-form {
  width: 100%;
}

textarea.long-text {
  width: 100%;
}

form.login-form {
}

.login.common input[type="text"], .login.common input[type="password"] {
  width: 95%;
  border-radius: 5px;
  border: none;
  padding: 3px;
}

.login.common form {
  margin: 3px 8px;
}

.admin-menu {
  a {
    text-decoration: none;
    color: rgb(66, 124, 247);
    :visited {
      color: rgb(66, 124, 247);
      text-decoration: none;
    }
  }
  ul {
    padding-left: 10px;
  }
}

.admin-page {
  ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 8px 0;
  }
}

a.breadcrumb {
  display: inline;
  float: left;
  padding: 0 10px;
  color: black;
  text-decoration: none;
  font-style: italic;
}

a.breadcrumb:visited {
  text-decoration: none;
}

.breadcrumb-separator {
  float: left;
  color: #86c828;
}

.breadcrumbs {
  padding: 20px;
}

.user-overview {
  a {
    text-decoration: none;
    color: darkblue;
    :visited {
      color: darkblue;
    }
  }
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  border: 1px solid #878582;
  padding: 3px 6px;
}

.directory-index {
  list-style-type: none;
}

$filelink-highlight-border-width: 6px;
$bright-row-base-padding-horiz: 25px;
$bright-row-padding-vert: 20px;

@mixin bright-row-hover-animation {
  @include transition-delay(0ms);
  @include transition-timing-function(ease);
  @include transition-property((background-color, padding, border-width));
  @include transition-duration(300ms);
}

@mixin nice-bright-row {
  background-color: rgb(247, 247, 247);
  display: block;
  padding: $bright-row-padding-vert $bright-row-base-padding-horiz;
  text-decoration: none;
  font-weight: bold;
  color: #2e4c11;
  border: 0 solid #999999;
}

@mixin bright-row-highlighted {
  color: #c3a762;
  border-width: 0 0px + $filelink-highlight-border-width;
  padding: $bright-row-padding-vert $bright-row-base-padding-horiz - $filelink-highlight-border-width;
}

a.file-link {
  @include bright-row-hover-animation;
  @include nice-bright-row;
}

a.file-link:hover, a.file-link:visited:hover {
  @include bright-row-hover-animation;
  @include bright-row-highlighted;
}

a.file-link:visited {
  color: inherit;
}

li.directory-content {
  padding: 1px 0;
}

ul.editorial-list {
  list-style-type: None;
  padding: 5px 5px;
  display: block;
  overflow: hidden;
  a {
    @include bright-row-hover-animation;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px 15px;
    display: block;
    float: left;
    border: 0 solid #999999;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    @include bright-row-hover-animation;
    border-width: 0 3px;
    padding: 5px 12px;
  }
}

.menu-overview {
  tr {
    @include bright-row-hover-animation;
    @include nice-bright-row;
  }
  tr:hover {
    @include bright-row-hover-animation;
    @include bright-row-highlighted;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

.page-tabs {
  padding: 5px 20px;
}

.content-width {
  width: $content-width;
}