<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?dchp echo(title) ?></title>
    <?dchp
    echo(stylesheets)
    echo(scripts)
    echo(meta)
    ?>
</head>
<body>
<div id="wrapper-main" class="wrapper">
    <header>
        <div id="header-wrapper" class="page-wrapper">
            <div class="wrapper">
                <?dchp echo(header) ?>
                <div id="pagetitle"><?dchp echo(pagetitle)?></div>
                <?dchp echo(editorial)?>
            </div>
        </div>
    </header>
    <nav>
        <div class="page-wrapper" id="nav-wrapper"><?dchp echo(navigation)?></div>
    </nav>
    <div id="wrapper-middle" class="wrapper page-wrapper">
        <div id="main">
            <div class="wrapper content">
                <div>
                    <h1 id="title"><?dchp echo(title)?></h1>
                    <?dchp echo(content)?>
                </div>
            </div>
            <?dchp echo(breadcrumbs)?>
        </div>
    </div>
    <footer>
        <div id="wrapper-footer" class="wrapper page-wrapper">
            <div id="footer-content" class="wrapper content">
                <?dchp echo(footer)?>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
