<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{title}</title>
    {stylesheets}{scripts}{meta}
</head>
    <body>
        <div id="wrapper-main" class="wrapper">
            <header>
                <div id="header-wrapper" class="page-wrapper">
                    <div class="wrapper">
                        {header}
                        <div id="pagetitle">{pagetitle}</div>
                    </div>
                </div>
                <nav><div class="page-wrapper" id="nav-wrapper">{navigation}</div></nav>
            </header>
            <div id="wrapper-middle" class="wrapper page-wrapper">
                {sidebar_left}
                <div id="main">
                    <div class="wrapper content">
                           {content}
                    </div>
                </div>
                {sidebar_right}
            </div>
            <footer>
                <div id="wrapper-footer" class="wrapper page-wrapper">
                    <div id="footer-content" class="wrapper content">
                        {footer}
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>