body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: #333;
	font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
li {
	padding-bottom: 3px;
}
#wrapper-main {
	background-color: #e4e4e4;
}
#wrapper-middle {
	margin: 0 auto 0 auto;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px;
    padding: 10px 0;
}
.page-wrapper, nav {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	overflow: hidden;
}
h1 {
    color: rgb(66, 124, 247);
    font-size: 25px;
}
#content {
	padding: 20px;
}
a.button {
    background: linear-gradient(#eee, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 6px 17px;
    text-decoration: none;
    color: #666;
    float: left;
}
a.button:hover {
    background: linear-gradient(#ccc, #999) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
a.button:visited {
	color: #666;
}
a.button.continue {
	float: right;
}
#main {
	padding: 20px;
	float: left;
	margin: 0 0 20px 33%;
}
#left {
}
td {
    padding: 2px 5px;
}
header {
	min-height: 100px;
	width: 100%;
	background-color: #9ABB6F;
	box-shadow: 0 0 8px #999;
}
footer {
	background-color: #222;
	color: #ddd;
	min-height: 50px;
	font-size: 11px;
	box-shadow: 0 0 8px #999;
}
#wrapper-footer {
}
#pagetitle, #pagetitle a {
	float: left;
	color: white;
    font-size: 25px;
    text-shadow: 1px 1px 5px #666;
    text-decoration: none;
}
#pagelogo {
	float: left;
}
.content {
	padding: 40px;
}
input[type='submit'] {
	float: right;
}
.alert {
	padding: 10px 15px;
	background-color: rgba(255, 82, 0, 0.3);
	box-shadow: 0 0 9px #bbb;
}
nav {
	border-color: #ccc;
    border-style: none solid;
    border-width: 1px;
}
ul.menu {
	list-style: none outside none;
	display: block;
}
ul.menu li a, ul.menu li span{
	margin-left: 7px;
}
ul.menu li {
	padding: 0;
	margin: 0;
}
ul.menu li a, ul.menu li span {
	padding: 10px;
	text-decoration: none;
}
#test_menu {
    height: 42px;
    padding: 0;
}
#test_menu {
	margin: 0;
}
#test_menu li.layer-1 {
	float: left;
}
#test_menu li.layer-1 a, #test_menu li.layer-1 span{
	background-color: #9abb6f;
	color: white;
	text-shadow: 1px 1px 2px #666;
    border-radius: 0 0 10px 10px;
    display: block;
    transition: padding-top 300ms ease 0ms;
}
#test_menu li.layer-1 a:hover {
	padding-top: 15px;
    position: relative;
    transition: padding-top 300ms ease 0ms;
}
#test_menu ul.layer-2 {
	display: none;
}